<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" th:href="@{/user_control_assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.12.0/css/all.css}">
    <link rel="stylesheet" th:href="@{/user_control_assets/css/styles.min.css}">
    <!-- JQuery-->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js}"></script>
</head>
<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
         style="background: linear-gradient(#357e74, #115549 23%), #196c53;">
        <div th:replace="user_panel/fragments/sidebar_fragment.html :: sidebarfragment"></div>
    </nav>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="user_panel/fragments/navigation_fragment.html :: navigation_fragment" >NAVIGATION</div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4" data-th-text="#{global.language_manager}">S-Language Manager</h3>
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" data-th-text="#{global.language_data_table}">Add Localized Content</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap w-100 justify-content-center align-items-center">
                                <div id="dataTable_length" class="dataTables_length w-100" aria-controls="dataTable">
                                    <form class="w-100">
                                        <div class="w-100 d-flex">
                                            <input class="form-control mw-25 me-4" type="text" th:id="field_locale" th:placeholder="'en'" required="" minlength="2" maxlength="4" autocomplete="off">
                                            <input class="form-control" type="text" th:id="field_key" th:placeholder="'global.home'" required="" minlength="4" autocomplete="off">
                                        </div>
                                        <div class="w-100 d-flex mt-3">
                                            <input class="form-control" type="text" th:id="field_content" th:placeholder="'Welcome'" required="" minlength="1" autocomplete="off">
                                        </div>
                                        <div class="col w-100 mt-3 d-flex justify-content-end align-items-center">
                                            <button class="btn btn-primary addLanguageModel" type="submit">
                                                Apply
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" data-th-text="#{global.language_data_table}">Language Data Table</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length-1" class="dataTables_length" aria-controls="dataTable">
                                    <!-- This item is temporarily disabled -->
<!--                                    <label class="form-label" data-th-text="#{global.show}">-->
<!--                                        Show&nbsp;-->
<!--                                        <select class="d-inline-block form-select form-select-sm">-->
<!--                                            <option value="10" selected="">10</option>-->
<!--                                            <option value="25">25</option>-->
<!--                                            <option value="50">50</option>-->
<!--                                            <option value="100">100</option>-->
<!--                                        </select>-->
<!--                                        &nbsp;-->
<!--                                    </label>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter-1"><label class="form-label">
                                    <input type="search" th:id="searchFilterId" class="form-control form-control-sm" aria-controls="dataTable" placeholder="..."></label></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                            <table id="dataTable" th:replace="user_panel/fragments/languages_list_fragment.html :: languages_list_element">
                            </table>
                        </div>
                        <!-- This component is currently disabled -->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6 align-self-center">-->
<!--                                <p id="dataTable_info-1" class="dataTables_info" role="status" aria-live="polite">10/0</p>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">-->
<!--                                    <ul class="pagination">-->
<!--                                        <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>-->
<!--                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                                        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>-->
<!--                                    </ul>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/user_control_assets/js/script.min.js}"></script>
<script th:src="@{/user_control_assets/js/languages.js}"> </script>
</body>
</html>