<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head> <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Stoody">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon/favicon.ico}" href="../../static/assets/images/favicon/favicon.ico">

<!-- Flag Icons-->
<link rel="stylesheet" th:href="@{/assets/libs/flag-icons/css/flag-icons.min.css}" href="../../static/assets/libs/flag-icons/css/flag-icons.min.css" />


<!-- Libs CSS -->
<link th:href="@{/assets/fonts/feather/feather.css}" href="../../static/assets/fonts/feather/feather.css" rel="stylesheet">
<link th:href="@{/assets/libs/bootstrap-icons/font/bootstrap-icons.css}" href="../../static/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link th:href="@{/assets/libs/@mdi/font/css/materialdesignicons.min.css}" href="../../static/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link th:href="@{/assets/libs/simplebar/dist/simplebar.min.css}" href="../../static/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">




<!-- Theme CSS -->
<link rel="stylesheet" href="../../static/assets/css/theme.min.css">

<!--This should be merged with the one above-->
<link rel="stylesheet" th:href="@{/assets/css/theme.min.css}">
    <title data-th-text="#{global.redirect_title}">Redirect | Stoody </title>
</head>

<body class="bg-white">
    <!-- Page Content -->
    <main>
        <section class="container d-flex flex-column">
            <div class="row">
                <div class="offset-xl-1 col-xl-2 col-lg-12 col-md-12 col-12">
                    <div class="mt-4">
                        <a th:href="@{/}" href="../index.html"><img th:src="@{/assets/images/brand/logo/logo.png}" src="../../static/assets/images/brand/logo/logo.png" width="40px" alt="" class="logo-inverse"></a>
                        <!-- theme switch -->
                        <div class="form-check form-switch theme-switch d-none ">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center g-0 py-lg-22 py-10">
                <!-- Docs -->
                <div class="offset-xl-1 col-12 text-center text-lg-start">
                    <h1 th:text="${header}" class="display-1 mb-3">Success!</h1>

                    <p th:text="${message}" class="mb-5 lead">We've sent an email to test@gmail.com. Please, go and check your email. Find the message came from us and click the link to verify your account.</p>

                    <div class="row">
                        <a th:each="button: ${buttons}" th:href="${button.href}" th:text="${button.label}" href="../pages/contact.html" class="btn btn-primary col-sm-12 col-lg-2 mb-2 mb-lg-0 mx-2 mx-lg-0 me-lg-2">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-12">
                    <div class="row align-items-center mt-6">
                        <div class="col-md-6 col-8">
                            <p data-th-text="#{global.copyright_warner}" class="mb-0">© 2022 Stoody. All Rights Reserved</p>
                        </div>
                        <div class="col-md-6 col-4 d-flex justify-content-end">
                            <a th:href="@{/}" href="#" class="text-muted text-primary-hover me-3  "><i class="mdi mdi-facebook mdi-24px"></i></a>
                            <a th:href="@{/}" href="#" class="text-muted text-primary-hover me-3  "><i class="mdi mdi-twitter mdi-24px"></i></a>
                            <a th:href="@{/}" href="#" class="text-muted text-primary-hover"><i class="mdi mdi-github mdi-24px"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Scripts -->
    <!-- Libs JS -->
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}" src="../../static/assets/libs/jquery/dist/jquery.min.js"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}" src="../../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}" src="../../static/assets/libs/simplebar/dist/simplebar.min.js"></script>


<!-- Theme JS -->
<script src="../../static/assets/js/theme.min.js"></script>


<!--This should be merged with the one above-->
<script th:src="@{/assets/js/theme.min.js}"></script>

</body>

</html>