<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head> <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Stoody">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon/favicon.ico}" href="../../static/assets/images/favicon/favicon.ico">

<!-- Flag Icons-->
<link rel="stylesheet" th:href="@{/assets/libs/flag-icons/css/flag-icons.min.css}" href="../../static/assets/libs/flag-icons/css/flag-icons.min.css" />


<!-- Libs CSS -->
<link th:href="@{/assets/fonts/feather/feather.css}" href="../../static/assets/fonts/feather/feather.css" rel="stylesheet">
<link th:href="@{/assets/libs/bootstrap-icons/font/bootstrap-icons.css}" href="../../static/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link th:href="@{/assets/libs/@mdi/font/css/materialdesignicons.min.css}" href="../../static/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link th:href="@{/assets/libs/simplebar/dist/simplebar.min.css}" href="../../static/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link rel="stylesheet" href="../../static/assets/css/theme.min.css">

<!--This should be merged with the one above-->
<link rel="stylesheet" th:href="@{/assets/css/theme.min.css}">
    <title data-th-text="#{global.sign_in_title}">Sign in | Stoody </title>
</head>

<body>
    <!-- Page content -->
    <main>
        <section class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center g-0 min-vh-100">

                <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                    <!-- Card -->
                    <div class="card shadow ">
                        <!-- Card body -->
                        <div class="card-body p-6">
                            <div class="mb-4">
                                <a th:href="@{/}" href="../index.html"><img th:src="@{/assets/images/brand/logo/logo-icon.png}" src="../../static/assets/images/brand/logo/logo-icon.png" class="mb-4" alt=""></a>
                                <h1 class="mb-1 fw-bold" data-th-text="#{global.sign_in}">Sign in</h1>

                                <span> 
                                    <span data-th-text="#{global.dont_have_account_qm}">Don’t have an account?</span>
                                <a th:href="@{/sign-up}" href="../pages/sign-up.html" class="ms-1" data-th-text="#{global.sign_up}">Sign up</a>
                                </span>
                            </div>
                            <!-- Form -->
                            <form>
                                <!-- Username -->
                                <div class="mb-3">
                                    <label for="username" class="form-label" data-th-text="#{global.username}">Username</label>
                                    <input type="username" id="username" class="form-control" name="username" placeholder="Username here" th:attr="placeholder=#{global.username_placeholder}" required>
                                </div>
                                <!-- Password -->
                                <div class="mb-3">
                                    <label for="password" class="form-label" data-th-text="#{global.password}">Password</label>
                                    <input type="password" id="password" class="form-control" name="password" placeholder="Password here" th:attr="placeholder=#{global.password_placeholder}" required>
                                </div>

                                <!-- Checkbox -->
                                <!-- Remember Me functionality is always enabled for now. -->
                                <!-- <div class="d-lg-flex justify-content-between align-items-center mb-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="remember" name="remember-me">
                                        <label class="form-check-label " for="remember" data-th-text="#{global.remember_me}">Remember me</label>
                                    </div>
                                    <div>
                                        <a href="../pages/forget-password.html" th:href="@{/forget-password}" data-th-text="#{global.forgot_password}">Forgot your password?</a>
                                    </div>
                                </div> -->

                                <div id="error_div" style="display: none;" data-th-text="#{global.invalid_credentials}" class="mb-2 text-danger">
                                    Invalid credentials.
                                </div>

                                <div>
                                    <!-- Button -->
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-primary" id="sign_in_page_submit_button">
                                          <!-- Loading spinner(hidden by default) -->
                                            <span style="display:none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            <span data-th-text="#{global.sign_in}">Sign in</span>
                                        </button>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <div class="mt-4 text-center">
                                    <!--Facebook-->
                                    <a href="#" th:href="@{/#}" class="btn-social btn-social-outline btn-facebook">
                                        <i class="mdi mdi-facebook fs-4"></i>
                                    </a>
                                    <!--Twitter-->
                                    <a href="#" th:href="@{/#}" class="btn-social btn-social-outline btn-twitter">
                                        <i class="mdi mdi-twitter fs-4"></i>
                                    </a>
                                    <!--LinkedIn-->
                                    <a href="#" th:href="@{/#}" class="btn-social btn-social-outline btn-linkedin">
                                        <i class="mdi mdi-linkedin"></i>
                                    </a>
                                    <!--GitHub-->
                                    <a href="#" th:href="@{/#}" class="btn-social btn-social-outline btn-github">
                                        <i class="mdi mdi-github"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Scripts -->
    <!-- Libs JS -->
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}" src="../../static/assets/libs/jquery/dist/jquery.min.js"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}" src="../../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}" src="../../static/assets/libs/simplebar/dist/simplebar.min.js"></script>


<!-- Theme JS -->
<script src="../../static/assets/js/theme.min.js"></script>


<!--This should be merged with the one above-->
<script th:src="@{/assets/js/theme.min.js}"></script>
</body>

</html>