<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head> <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <meta name="keywords">
    <meta name="author" content="Stoody">



    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon/favicon.ico}">


    <!-- Libs CSS -->
    <link th:href="@{/assets/fonts/feather/feather.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet" />
    <link th:href="@{/assets/libs/@mdi/font/css/materialdesignicons.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">




    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/theme.min.css}">
    <title>Sign in | Stoody </title>
</head>

<body>
<!-- Page content -->
<main>
    <section class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">

            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <!-- Card -->
                <div class="card shadow ">
                    <!-- Card body -->
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <a th:href="@{/}"><img th:src="@{/assets/images/brand/logo/logo-icon.png}" class="mb-4"></a>
                            <h1 class="mb-1 fw-bold">Sign in</h1>
                            <span>Don’t have an account? <a th:href="@{/register}" class="ms-1">Sign up</a></span>
                        </div>
                        <!-- Form -->
                        <form th:action="@{/login}" method="post">
                            <!-- Username -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Username or email</label>
                                <input type="email" id="email" class="form-control" name="email" placeholder="Email address here" required>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control" name="password" placeholder="**************" required>
                            </div>
                            <!-- Checkbox -->
                            <div class="d-lg-flex justify-content-between align-items-center mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberme">
                                    <label class="form-check-label " for="rememberme">Remember me</label>
                                </div>
                                <div>
                                    <a th:href="@{/forget-password}">Forgot your password?</a>
                                </div>
                            </div>

                            <div th:if="${param.error}" class="alert alert-error text-danger">
                                Invalid username or password.
                            </div>

                            <div>
                                <!-- Button -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary ">Sign in</button>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="mt-4 text-center">
                                <!--Facebook-->
                                <a th:href="@{/#}" class="btn-social btn-social-outline btn-facebook">
                                    <i class="mdi mdi-facebook fs-4"></i>
                                </a>
                                <!--Twitter-->
                                <a th:href="@{/#}" class="btn-social btn-social-outline btn-twitter">
                                    <i class="mdi mdi-twitter fs-4"></i>
                                </a>
                                <!--LinkedIn-->
                                <a th:href="@{/#}" class="btn-social btn-social-outline btn-linkedin">
                                    <i class="mdi mdi-linkedin"></i>
                                </a>
                                <!--GitHub-->
                                <a th:href="@{/#}" class="btn-social btn-social-outline btn-github">
                                    <i class="mdi mdi-github"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Scripts -->
<!-- Libs JS -->
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}"></script>


<!-- Theme JS -->
<script th:src="@{/assets/js/theme.min.js}"></script>




</body>

</html>