<!-- Libs JS -->
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}" src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}" src="../node_modules/simplebar/dist/simplebar.min.js"></script>


<!-- Theme JS -->
<!-- build:js ../assets/js/theme.min.js -->
<script src="../assets/js/main.js"></script>
<script src="../assets/js/darkMode.js"></script>
<!-- endbuild -->


<!--This should be merged with the one above-->
<script th:src="@{/assets/js/theme.min.js}"></script>